:root {
  /* COLOR */
  --black-100: rgb(0, 0, 0);
  --burgundy-100: rgb(244, 233, 239);
  --burgundy-200: rgb(225, 210, 218);
  --burgundy-300: rgb(189, 158, 174);
  --burgundy-400: rgb(138, 98, 119);
  --burgundy-500: rgb(133, 46, 87);
  --green-100: rgb(239, 255, 248);
  --green-800: rgb(8, 105, 65);
  --grey-100: rgb(242, 242, 242);
  --grey-200: rgb(229, 229, 229);
  --grey-300: rgb(204, 204, 204);
  --grey-400: rgb(160, 160, 160);
  --grey-500: rgb(89, 89, 89);
  --grey-600: rgb(76, 76, 76);
  --grey-700: rgb(51, 51, 51);
  --grey-800: rgb(25, 25, 25);
  --olive-100: rgb(237, 240, 237);
  --olive-200: rgb(202, 209, 199);
  --olive-300: rgb(166, 179, 162);
  --olive-400: rgb(121, 141, 116);
  --olive-500: rgb(91, 106, 87);
  --purple-100: rgb(226, 217, 233);
  --purple-200: rgb(198, 179, 212);
  --purple-300: rgb(159, 128, 182);
  --purple-400: rgb(121, 77, 154);
  --purple-500: rgb(64, 1, 111);
  --red-100: rgb(255, 230, 230);
  --red-200: rgb(245, 195, 200);
  --red-300: rgb(240, 135, 140);
  --red-400: rgb(229, 92, 98);
  --red-500: rgb(218, 22, 31);
  --red-600: rgb(160, 15, 25);
  --red-700: rgb(105, 10, 15);
  --red-800: rgb(65, 10, 15);
  --salmon-100: rgb(249, 234, 234);
  --salmon-200: rgb(241, 202, 202);
  --salmon-300: rgb(230, 160, 160);
  --salmon-400: rgb(219, 118, 118);
  --salmon-500: rgb(213, 97, 97);
  --sky-100: rgb(239, 248, 249);
  --sky-200: rgb(216, 237, 240);
  --sky-300: rgb(175, 219, 225);
  --sky-400: rgb(137, 202, 211);
  --sky-500: rgb(105, 168, 177);
  --teal-100: rgb(244, 248, 250);
  --teal-200: rgb(225, 236, 240);
  --teal-300: rgb(167, 201, 214);
  --teal-400: rgb(100, 155, 175);
  --teal-500: rgb(46, 120, 147);
  --teal-600: rgb(39, 94, 123);
  --teal-700: rgb(6, 78, 109);
  --teal-800: rgb(2, 51, 80);
  --white-white: rgb(255, 255, 255);
  --yellow-300: rgb(252, 246, 196);
  --yellow-500: rgb(255, 234, 96);
}
