.pratt-regular-pr-2 {
  font-family: Pratt, serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.2;
}

.pratt-regular-pr-8 {
  font-family: Pratt, serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.38;
}

.gm-sans-web-regular-gmr-2 {
  font-family: GMsansWeb, serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
}

.pratt-regular-pr-3 {
  font-family: Pratt, serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 1.25;
}

.pratt-bold-pb-5 {
  font-family: Pratt-Bold, serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.19;
}

.pratt-regular-pr-4 {
  font-family: Pratt, serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.25;
}

.gm-sans-web-regular-gmr-4 {
  font-family: GMsansWeb, serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

.pratt-regular-pr-7 {
  font-family: Pratt, serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.33;
}

.pratt-bold-pb-8 {
  font-family: Pratt-Bold, serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
}

.gm-sans-web-bold-gmb-5 {
  font-family: GMsansWeb-Bold, serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
}

.pratt-bold-pb-9 {
  font-family: Pratt-Bold, serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.38;
}

.pratt-regular-pr-6 {
  font-family: Pratt, serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.3;
}

.pratt-regular-pr-1 {
  font-family: Pratt, serif;
  font-weight: 400;
  font-size: 48px;
  line-height: 1.17;
}

.gm-sans-web-regular-gmr-1 {
  font-family: GMsansWeb, serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.33;
}

.helvetica-bold-helb-5 {
  font-family: Helvetica-Bold, serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.20000000298023224px;
}

.pratt-regular-pr-5 {
  font-family: Pratt, serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
}

.helvetica-regular-helr-3 {
  font-family: Helvetica, serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.38;
}

.pratt-bold-pb-7 {
  font-family: Pratt-Bold, serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.27;
}

.gm-sans-web-bold-gmb-1 {
  font-family: GMsansWeb-Bold, serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.25;
}

.gm-sans-web-bold-gmb-3 {
  font-family: GMsansWeb-Bold, serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
}

.gm-sans-web-bold-gmb-4 {
  font-family: GMsansWeb-Bold, serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.4;
}

.gm-sans-web-regular-gmr-3 {
  font-family: GMsansWeb, serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.33;
}

.gm-sans-web-bold-gmb-2 {
  font-family: GMsansWeb-Bold, serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.29;
}

.helvetica-bold-helb-2 {
  font-family: Helvetica-Bold, serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.25;
}

.helvetica-bold-helb-3 {
  font-family: Helvetica-Bold, serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.33;
}

.helvetica-bold-helb-6 {
  font-family: Helvetica-Bold, serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
}

.pratt-bold-pb-6 {
  font-family: Pratt-Bold, serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
}

.gm-sans-web-label-gml-2 {
  font-family: GMsansWebLabel, serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
}

.gm-sans-web-regular-gmr-5 {
  font-family: GMsansWeb, serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
}

.helvetica-regular-helr-2 {
  font-family: Helvetica, serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.33;
}

.gm-sans-web-label-gml-1 {
  font-family: GMsansWebLabel, serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  text-transform: uppercase;
}

.helvetica-bold-helb-4 {
  font-family: Helvetica-Bold, serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.4;
}

.helvetica-bold-helb-1 {
  font-family: Helvetica-Bold, serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
}

.pratt-bold-pb-2 {
  font-family: Pratt-Bold, serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.17;
}

.pratt-bold-pb-4 {
  font-family: Pratt-Bold, serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
}

.helvetica-regular-helr-1 {
  font-family: Helvetica, serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.25;
}

.pratt-bold-pb-1 {
  font-family: Pratt-Bold, serif;
  font-weight: 700;
  font-size: 88px;
  line-height: 1.09;
}

.pratt-bold-pb-3 {
  font-family: Pratt-Bold, serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.15;
}

.gm-sans-web-label-gml-3 {
  font-family: GMsansWebLabel, serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
}

.helvetica-regular-helr-4 {
  font-family: Helvetica, serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
}
